@CHARSET "UTF-8";


.roundedBox {
border-color: black;
padding-bottom: 10px;
border-radius:5px;
}


.icoHomePickerHeader {
padding: 0;
}

.home-overlay {
    background-color: rgba(44, 62, 80, 0.3);
    background-image: url("../cleantheme/images/pattern.png");
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

  
